body {
  font-family: "Poppins", sans-serif;
  background: #222831;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.navbar {
  background: #222831;
  color: #DFD0B8;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

.navbar a {
  color: #dfd0b8;
  text-decoration: none;
  margin-right: 15; 
}

.card {
  background: #222831;
  padding: 20px;
  margin: 50px auto;
}

h2{
  margin-left: 300px;
  color: #DFD0B8;
}

input {
  text-align: center;
  width: 75%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
  background-color: #DFD0B8;
  border-radius: 6px;
}

button {
  background: #dfd0b8;
  color: black;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;
  cursor: pointer;
  margin: 3px;
}
button:hover {
  background: #948979;
  color: #222831;
}

.loginbut{
  position: relative;
  margin-left: 300px;
}
